@charset "utf-8";
body{
    
}
.navbar.navbar-lighter {
    padding: 0 0;
    min-height: 48px;
}
.banner {
    --bs-bg-opacity: .75;
    background: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.banner .colorize {
    padding-top: 64px;
}